body{
    background-color: grey;
    align-content: center;
}

#createNewProfileForm{
    width: 20%;
    border: 1px black solid;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: white;
}

#createNewProfileFormContent{
    text-align: center;
}

#specialtyInput {
    display: none;
}