h1 {
    text-align: center;
}

#hulpvraagform{
    /*height: auto;*/
    /*padding: 5px;*/
    /*border: black solid 1px;*/
    width: 20%;
    border: 1px black solid;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: white;
}

/*#alterProfileForm{*/
/*    display: none;*/
/*}*/



